[user]
	email = 652339+shanegriffiths@users.noreply.github.com
	name = Shane Griffiths
[core]
	excludesfile = /Users/shane/.gitignore_global
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	syntax-theme = "Catppuccin Mocha"
	navigate = true
	side-by-side = true
	line-numbers = true
	hyperlinks = true
	dark = true
[merge]
	conflictstyle = zdiff3
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
